body{
    background-color: #EBDFD8
} 
.header{
    font-family: Trocchi, serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px;
    align-items: center; /* Alinha verticalmente */
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.menu span:hover{
    transform: scale(1.3);
    text-decoration: underline;
    text-decoration-color: #a89c94;
}
.menu span {
    font-size: 1.2em;
    font-weight: semi-bold;
    cursor: pointer;
    color: #213256;
    transition: transform 0.3s ease, text-decoration-color 0.3s ease;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-top: 10px; /* Menos espaço acima */
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}
.nome{
    justify-content: end;
    font-family: 'Ultra', serif;
    font-size: 70px;
    color: #213256;
    font-weight:lighter;
    margin-bottom: 0;
    letter-spacing: 15px;
    /* Remova o border-bottom */
}

.work{
    
    color: #F46565;
    font-size: xx-small;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 30px;
    font-family: 'Ultra', serif;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
    
}
.sobrenome{
    font-family: 'Trocchi', serif;
    font-weight: lighter;
    font-size: 7em;
    color: #a89c94;
    font-weight: lighter;
    border-bottom: 3px solid #F46565;
    margin-bottom: 0px;
    margin-top: 0px;
}


.descricao {
    margin: 20px 0 0 0;
    color: #213256;
    font-size: 1.2em;
    font-family: 'Georgia', serif;
}

.contato {
  align-self: center;
  color: #F46565;
  background-color: #EBDFD8;
  font-family: 'Ultra', serif;
  letter-spacing: 5px;
  font-size: 2em;
  font-weight: lighter;
  border: 3px solid #F46565;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  
}

.contato:hover {
    background: #F46565;
    color: #EBDFD8;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.div-Servicos {
    background: #213256;
    color: #EBDFD8;
    /* ajuste conforme necessário */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px ;
    margin-top: 120px; /* Aumente para forçar o scroll */
    padding: 40px;
}

.onda {
    display: block;
    margin-bottom: -5px;
}
.servicos-titulo {
  font-family: 'Trocchi', serif;
  font-size: 6em;
  margin-bottom: 0.2em;
  color: #EBDFD8;
  padding-bottom: 10px;
  margin-top:2px;
  letter-spacing: 15px;
  padding-left: 50px;
}

.servicos-sub {
  display: flex;
  align-items: flex-start;
  gap: 20%;
  margin: 30px 0 40px 60px;
  
}

.servicos-sub-titulo {
  font-family: 'Ultra', serif;
  font-size: 2.2em;
  color: #EBDFD8;
  font-weight: semi-bold;
  position: relative;
}

.sub-underline {
  color: #F46565;
  font-size: 1.2em;
  font-family: 'Ultra', serif;
  margin-left: 5px;
}

.servicos-descricao {
  color: #EBDFD8;
  font-size: 1.1em;
  max-width: 400px;
}

.servicos-lista {
  margin-top: 40px;
}

.servico-item {
  display: flex;
  align-items: flex-start;
  gap: 40%;
  margin-bottom: 40px;
  margin-left: 60px;
}

.servico-numero {
  font-family: 'trocchi', serif;
  font-size: 1.5em;
  color: #EBDFD8;
  margin-top: 10px;
}

.servico-conteudo h2 {
  font-family: 'Ultra', serif;
  font-size: 2em;
  color: #EBDFD8;
  margin-bottom: 10px;
  font-weight: lighter;
}

.servico-conteudo p {
  font-family: 'Trocchi', serif;
  color: #EBDFD8;
  font-size: 1em;
  margin-bottom: 16px;
  margin-left: 10px;
}

hr {
  border: none;
  border-top: 2px solid #EBDFD8;
  margin: 0 0 40px 0;
  width: 60%;     
  margin-left: auto;
  margin-right: auto;
}
.div-projetos {
    color: #213256;
    background: #EBDFD8;
    /* ajuste conforme necessário */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px ;
    margin-top: 120px; /* Aumente para forçar o scroll */
    padding: 40px;
}
